<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".actitivties.SecondComposeActivityPalletRelease"
            android:exported="false"
            android:label="@string/title_activity_second_compose_pallet_release"
            android:theme="@style/Theme.PalletRelease" />
        <activity
            android:name=".actitivties.FirstComposeActivityPalletRelease"
            android:exported="false"
            android:label="@string/title_activity_first_compose_pallet_release"
            android:theme="@style/Theme.PalletRelease" />
        <activity
            android:name=".actitivties.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".actitivties.FirstActivityPalletReleaseLibrary"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
    </application>

</manifest>